.product__content {
  display: flex;
  padding: $m-size 0;
}

.product__image-list {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin: 0 $m-size;
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}

.product__image-list-item {
  max-width: 100%;
  height: auto;
  margin-bottom: $m-size;
  &:hover {
    cursor: pointer;
    opacity: .75;
  }
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}

.product__image-container {
  display: flex;
  max-width: 40%;
  height: auto;
}
.product__image {
  width: 100%;
  height: 100%
}

.product-body {
  padding: 0 $m-size 0 $xl-size;
  @media (max-width: $desktop-breakpoint - .01rem) {
      padding: 0 $m-size 0 $m-size;
  }
}

.product-title {
  font-size: $font-size-xlarge;
  font-weight: 300;
  margin: 0;
}

.product-subtitle {
  font-size: $font-size-large;
  font-weight: 300;
  margin: 0 0 $s-size 0;
}