.checkout-container {
  display: flex;
  @media (max-width: $desktop-breakpoint - .01rem) {
    flex-direction: column;
  }
}

.summary {
  background: black;
  flex: 1;
  margin: $m-size 0 0 $m-size;
  max-width: 30rem;
  max-height: 32rem;
  @media (max-width: $desktop-breakpoint - .01rem) {
    flex-direction: column;
    margin-left: 0; 
  }
}

.summary__header {
  color: white;
  font-weight: 600;
  padding: $s-size;
  padding-right: 1.8rem;
}

.summary__row {
  display: flex;
  justify-content: space-between;
}

.summary__text {
  color: white;
  font-weight: 300;
  margin: $s-size;
  margin-right: 1.8rem;
  margin-top: 0;
}

.summary__message {
  color: $dark-grey;
  font-size: 1.2rem;
  font-weight: 300;
  margin: $m-size;
  margin-top: 0;
}

.summary__select {
  background: $dark-grey;
  border: 0;
  color: white;
  direction: rtl;
  font-weight: 300;
  margin: $s-size;
  margin-top: 0;
}